<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="Alien" class="com.deepak.learning.Alien" autowire="byType">
        <property name="id" value="1"/>
        <property name="name" value="Deepak"/>
        <!-- <property name="lap" ref="lap1"/> -->

        <property name="com" ref="com"/>
    </bean>

    <!-- <bean id="Alien" class="com.deepak.learning.Alien">
        <constructor-arg name="id" index="0" value="1"/>
        <constructor-arg name="name" index="1" value="Deepak"/>
        <constructor-arg name="id" index="2" ref="lap1"/>
    </bean> -->

    <!-- <bean id="lap" class="com.deepak.learning.Laptop"/> -->

    <!-- <bean id="com" class="com.deepak.learning.Laptop"/> -->
    <bean id="com" class="com.deepak.learning.Desktop"/>

</beans>